In [1]:
import pandas as pd
import numpy as np
import os
import datetime

In [12]:
ts = pd.DataFrame(np.random.randn(100,2), index=pd.date_range('2012-01-01',periods=100),columns=['a','b'])
ts.index = pd.to_datetime(ts.index)

In [70]:
pnl = ts / ts.shift(1) - 1
pnl.iloc[0,:] = 0

In [71]:
(pnl+1).cumprod()

                   a         b
2012-01-01  1.000000  1.000000
2012-01-02 -0.589413 -0.436276
2012-01-03  1.172790  0.490010
2012-01-04  0.824080  1.744497
2012-01-05  0.268152 -0.600916
...              ...       ...
2012-04-05  0.224628  0.521770
2012-04-06 -3.722379 -0.848814
2012-04-07  0.900410 -0.354940
2012-04-08 -0.341562 -0.496155
2012-04-09  2.847820 -1.316944

[100 rows x 2 columns]

In [72]:
ts / ts.iloc[0,:]

                   a         b
2012-01-01  1.000000  1.000000
2012-01-02 -0.589413 -0.436276
2012-01-03  1.172790  0.490010
2012-01-04  0.824080  1.744497
2012-01-05  0.268152 -0.600916
...              ...       ...
2012-04-05  0.224628  0.521770
2012-04-06 -3.722379 -0.848814
2012-04-07  0.900410 -0.354940
2012-04-08 -0.341562 -0.496155
2012-04-09  2.847820 -1.316944

[100 rows x 2 columns]

In [19]:
pd.Series(ts.index).index

RangeIndex(start=0, stop=100, step=1)

In [20]:
ll = dict(zip(['a','b','c'],list(range(3))))

In [21]:
invmap = pd.Series(data=ll.keys(),index=ll.values())

In [22]:
invmap.index[invmap=='a'].to_list()

[0]

In [23]:
ts.loc['2012-01-01':]

                   a         b
2012-01-01 -0.147512 -0.612036
2012-01-02 -0.325163 -0.135433
2012-01-03  1.657428 -0.158542
2012-01-04  0.014406 -0.400201
2012-01-05  0.597332 -0.473183
...              ...       ...
2012-04-05  0.640320 -0.690156
2012-04-06 -0.360739 -0.419391
2012-04-07 -0.560668  1.243364
2012-04-08 -1.811216  0.236023
2012-04-09 -1.112294  0.360223

[100 rows x 2 columns]

In [1]:
test = pd.DataFrame(np.random.rand(4,2),columns=['a','b'])

NameError: name 'pd' is not defined

In [25]:
hex(id(test['a']))

'0x7f9a70930e80'

In [26]:
hex(id(test.iloc[0,0]))

'0x7f9a70a9c1d0'

In [27]:
hex(id(test))

'0x7f9a70a499d0'

In [28]:
test.iloc[0,0] = 1

In [29]:
def main():
    tesss = test.iloc[0,0]
    print(hex(id(tesss)))

In [30]:
ts.loc['2012-01-01':'2012-01-02']

                   a         b
2012-01-01 -0.147512 -0.612036
2012-01-02 -0.325163 -0.135433

In [74]:
ts.index.intersection([1,2])

Index([], dtype='object')

In [80]:
aa = [1,2,3]

In [79]:
bb = pd.Series([1,2,3])

In [82]:
bb.__iter__()

In [87]:
import torch

In [90]:
'__iter__' in dir(pd.Series([1,2,3]))

True

In [89]:
'__iter__' in dir(np.array([1,2,3]))

True

In [88]:
'__iter__' in dir(torch.tensor([1,2,3]))

True

In [92]:
'__iter__' in dir(ts.index)

True

In [93]:
'__iter__' in dir(ts.columns)

True

In [47]:
test = pd.DataFrame(columns=range(5))

In [45]:
test

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [10]:
test.loc['2023',:] = list(range(5))

In [36]:
ts = pd.DataFrame(np.random.randn(100,2), index=pd.date_range('2012-01-01',periods=100),columns=['a','b'])
ts.index = pd.to_datetime(ts.index)

In [28]:
tst = pd.Series([1,2],index=['c','d'])

In [39]:
ts

                            a         b
2012-01-01 00:00:00  0.896708  0.648878
2012-01-02 00:00:00  0.963686 -0.960041
2012-01-03 00:00:00  1.284779  1.612584
2012-01-04 00:00:00  0.041779  0.498446
2012-01-05 00:00:00  1.269919  2.118618
...                       ...       ...
2012-04-06 00:00:00  0.754359 -0.050046
2012-04-07 00:00:00  1.256091 -0.746323
2012-04-08 00:00:00  0.914075 -0.545854
2012-04-09 00:00:00 -0.758375 -0.404069
2012-04-29           2.000000  2.000000

[101 rows x 2 columns]

In [38]:
ts.loc['2012-04-29'] = 2

In [34]:
ts

                            a         b
2012-01-01 00:00:00  1.114081  0.889636
2012-01-02 00:00:00 -0.183550  0.035179
2012-01-03 00:00:00 -0.898701  0.044965
2012-01-04 00:00:00  1.655956  1.297376
2012-01-05 00:00:00 -1.115035  0.596782
...                       ...       ...
2012-04-06 00:00:00 -0.188598  0.180878
2012-04-07 00:00:00 -0.802011 -0.660730
2012-04-08 00:00:00 -1.037512 -0.795208
2012-04-09 00:00:00  0.293972 -0.429644
2012-04-29           1.000000  2.000000

[101 rows x 2 columns]

In [24]:
ts.index = pd.to_datetime(ts.index)

                     a            b
2012-01-01    0.934199    -0.300038
2012-01-02   -1.619506    -1.574931
2012-01-03   -0.878070    -0.082129
2012-01-04    0.907877     0.084012
2012-01-05   -0.852138    -0.130735
...                ...          ...
2012-04-06   -1.322027     0.653778
2012-04-07   -0.565346    -1.032784
2012-04-08    1.739717    -0.041278
2012-04-09   -0.643471    -1.513467
2012-04-29  999.000000  1000.000000

[101 rows x 2 columns]

In [48]:
test = np.array([1,2,3])

In [50]:
list(map(lambda x:x**2,test))

[1, 4, 9]

In [51]:
dt = pd.read_csv('https://raw.githubusercontent.com/nymath/financial_data/main/data/index/trade_date.csv',index_col=0)

In [55]:
type(pd.Series())

/var/folders/31/rx49cg9n64z7rn2vk4yd8d740000gn/T/ipykernel_41661/2002654213.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  type(pd.Series())

pandas.core.series.Series

In [7]:
from modules.trade.basics import *

In [10]:
compose(print,list)((1,2,3))

[1, 2, 3]

In [11]:
from pynverse import inversefunc

In [13]:
import numpy as np

In [24]:
fi = inversefunc(np.exp,domain=(-np.inf,+np.inf),image=(0,+np.inf),open_domain=True)

In [5]:
import trade.self_uqer as se

In [ ]:
se.

In [2]:
trade.__version__

'0.1'

In [2]:
import numpy as np
import pandas as pd

In [9]:
lsa = pd.Series([1,2,3],index=['x0','x1','x2'],name='a')
lsb = pd.Series([1,2,3],index=['x0','x1','x2'],name='b')
pda = pd.DataFrame([1,2,3],index=['x0','x1','x2'],columns=['a'])

In [40]:
lsa

x0    1
x1    2
x2    3
Name: a, dtype: int64

In [10]:
lsa

x0    1
x1    2
x2    3
Name: a, dtype: int64

In [19]:
lsa.values

array([1, 2, 3])

In [20]:
pda.T + lsa.values

   x0  x1  x2
a   2   4   6

In [21]:
arr1 = np.array([1,2,3])

In [22]:
arrs = np.array([[1,2,3],[2,3,4],[3,4,5]])

In [27]:
arrs[:,0].reshape(-1,1) + arr1 #

array([[2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

In [15]:
import os
import pickle
import pandas as pd
import json

In [53]:
def get_data_index_components(tscode='000300.XSHG', current_date=None) -> list:
    if not os.path.exists('./data'):
        os.mkdir('./data')
    if not os.path.exists('./data/index_components'):
        os.mkdir('./data/index_components')
    try:
        res = pd.read_csv(f'./data/index_components/{tscode}.csv',index_col=0)
        res.index = pd.to_datetime(res.index)
        truetime = res.index.asof(f'{current_date}')
        print(truetime,current_date)
        return list(res.loc[truetime])
    except:
        print('本地数据不存在, 尝试下载')
        res = pd.read_csv(f'https://raw.githubusercontent.com/nymath/financial_data/main/data/index_components/{tscode}.csv',index_col=0,encoding='utf8')
        res.index = pd.to_datetime(res.index)
        print('下载成功')
        res.index = pd.to_datetime(res.index)
        res.to_csv(f'./data/index_components/{tscode}.csv',encoding='utf8')
        print('保存成功')
        truetime = res.index.asof(f'{current_date}')
        print(truetime,current_date)

        return list(res.loc[current_date])

In [22]:
res = pd.read_json(f'https://raw.githubusercontent.com/nymath/financial_data/main/data/index_components/000300.XSHG.json').T

ValueError: All arrays must be of the same length

In [17]:
get_data_index_components('000300.XSHG', current_date='20221227')

本地数据不存在, 尝试下载

KeyboardInterrupt:

In [2]:
sss = {'a':1,'b':2,'c':3,'d':4,'e':5}

In [6]:
sss.keys()

dict_keys(['a', 'b', 'c', 'd', 'e'])

In [57]:
'20220101'[:7]

'2022010'